.App {
  margin: 0px;
  text-align: center;
  font-family: Sen, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  height: 100vh;
}

h1 {
  font-size: 24px;
  font-weight: bold;
  margin-top: 29px;
}

h2 {
  font-size: 20px;
  font-weight: bold;
  margin-top: 24px;
}

p {
  font-size: 15px;
}